body {
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
    
}

header {
    font-family: 'Londrina Outline', cursive;
    font-size: 50px;
    text-align: center;
    padding: 2%;
}

main {
    font-family: 'Amatic SC', cursive;
    margin: auto;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.insta {
    margin-top: 120px;
}

#outercircle {
    border: 10px solid;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    margin-top: 60px;

}

#topleft {
    position: absolute;
    border: 5px solid;
    background: #6495ED;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    box-sizing: border-box;
}

/* #topleft:hover {
    box-shadow: 20px 60px 40px 40px #228DFF;
    border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
} */

#topright 
{
    position: absolute;
    border: 5px solid;
    background: #DC143C;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    box-sizing: border-box;

}

#bottomleft {
    position: absolute;
    border: 5px solid;
    background:#2E8B57;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    box-sizing: border-box;
}

#bottomright {
    position: absolute;
    border: 5px solid;
    background: #FFFF00;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    box-sizing: border-box;

}

/* #innercircle {
    border: 10px solid #333333;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    
  
} */

.centered {
    font-family: 'Londrina Outline', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 220px;
    margin-top: 225px;
    color: white;

}


.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid;
    top:50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    position: absolute;
    box-sizing: border-box;
   
}

#switches {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    margin-left: 225px;
    margin-top: 310px;
}

/* .label {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    margin-left: 180px;
    margin-top: 330px;
    color: white;
} */

/* .label span:last-child {
    padding-left: 50px;
      
} */

.label2 {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    margin-left: 158px;
    margin-top: 273px;
    color: white;
    font-weight: 900;
    
}

.button {
    font-size: 20px;
    background-color: #DCDCDC;
    border-radius: 50%;
    font-family: 'Amatic SC', cursive;
    
}


/* .toggle {
    margin-left: 60px;
    margin-right: 10px;
} */

#turn {
    position: absolute;
    background: #333333;
    color: #990000;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    height: 35px;
    width: 65px;
    margin-left: 140px;
    margin-top: 235px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}